body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.topnav {
    background-color: navy;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;

}

.topnav a:hover {
    background-color: aliceblue;
    color: navy;
}

.topnav a.active {
    background-color: aquamarine;
    color: navy;
}

.container {
    display: flex;
    padding: 15%;
    background-color: aliceblue;
    color: navy;
}