* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

header {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #666dff;
    color: aliceblue;
    font-size: 50px;
}

h2 {
    display: inline-block;
}

p {
    align-content: right;
}

aside {
    width: 33%;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
    font-weight: bolder;
}

ul {

    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
}

li {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    padding: 20px;
   
}

img {

    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

footer {

    display: flex;
    justify-content: space-evenly;
    padding: 18px;
    background-color: #666dff;
    color: aliceblue;
    font-size: 30px;
}

.topnav {
    background-color: #666dff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;

}

.topnav a:hover {
    background-color: aliceblue;
    color: navy;
}

.header {
    background-color: aliceblue;
    padding: 75px;
    border-color: white;
    border-style: ridge;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(0deg, #e5e5f7 50%, #444cf7 50%);
    background-size: 10px 10px;
}

#text-block1 {
    display: flex;
    flex-direction: row-reverse;
    bottom: 100 px;
    left: 20px;
    background-color: aliceblue;
    color: navy;
    padding: 15px 30px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border-width: 1px;
    margin: 20px;
}

.container {
   position: relative;
}


.text-block {
    position: absolute;
    top: 165px;
    left: 65px;
    width: 100px;
    background-color:aliceblue;
    color: navy;
    padding-left: 10px;
    padding-right: 10px;
}


.card img {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border-width: 1px;
    margin: 3px;
    width: 100%; 
}

li.card:hover {
border: 5px solid aliceblue;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: aliceblue;
    }
  }