* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

header {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: navy;
    color: aliceblue;
    font-size: 50px;
}

h2 {
    display: inline-block;

}

footer {

    display: flex;
    justify-content: space-evenly;
    padding: 18px;
    background-color: navy;
    color: aliceblue;
    font-size: 30px;
}

.topnav {
    background-color: navy;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;

}

.topnav a:hover {
    background-color: aliceblue;
    color: navy;
}

.container {
    display: flex;
    padding: 95px;
    background-color: aliceblue;
    color: navy;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 1px;

}

.card img {
   width: 100%; 
}

section.card:hover {
border: 5px solid aliceblue;
}